<a href="https://colab.research.google.com/github/dareoyeleke/sql_queries_colab/blob/main/sql_basics_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [ ]:
%%sql
DROP TABLE IF EXISTS skills_job_dim;
DROP TABLE IF EXISTS job_postings_fact;
DROP TABLE IF EXISTS skills_dim;
DROP TABLE IF EXISTS company_dim;

CREATE TABLE public.company_dim
(
    company_id INT PRIMARY KEY,
    name TEXT,
    link TEXT,
    link_google TEXT,
    thumbnail TEXT
);

-- Create skills_dim table with primary key
CREATE TABLE public.skills_dim
(
    skill_id INT PRIMARY KEY,
    skills TEXT,
    type TEXT
);

-- Create job_postings_fact table with primary key
CREATE TABLE public.job_postings_fact
(
    job_id INT PRIMARY KEY,
    company_id INT,
    job_title_short VARCHAR(255),
    job_title TEXT,
    job_location TEXT,
    job_via TEXT,
    job_schedule_type TEXT,
    job_work_from_home BOOLEAN,
    search_location TEXT,
    job_posted_date TIMESTAMP,
    job_no_degree_mention BOOLEAN,
    job_health_insurance BOOLEAN,
    job_country TEXT,
    salary_rate TEXT,
    salary_year_avg NUMERIC,
    salary_hour_avg NUMERIC,
    FOREIGN KEY (company_id) REFERENCES public.company_dim (company_id)
);

-- Create skills_job_dim table with a composite primary key and foreign keys
CREATE TABLE public.skills_job_dim
(
    job_id INT,
    skill_id INT,
    PRIMARY KEY (job_id, skill_id),
    FOREIGN KEY (job_id) REFERENCES public.job_postings_fact (job_id),
    FOREIGN KEY (skill_id) REFERENCES public.skills_dim (skill_id)
);

-- Set ownership of the tables to the postgres user
ALTER TABLE public.company_dim OWNER to postgres;
ALTER TABLE public.skills_dim OWNER to postgres;
ALTER TABLE public.job_postings_fact OWNER to postgres;
ALTER TABLE public.skills_job_dim OWNER to postgres;

-- Create indexes on foreign key columns for better performance
CREATE INDEX idx_company_id ON public.job_postings_fact (company_id);
CREATE INDEX idx_skill_id ON public.skills_job_dim (skill_id);
CREATE INDEX idx_job_id ON public.skills_job_dim (job_id);

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%%bash
# Create the directory if it doesn't exist
mkdir -p /tmp/SQL_CVS_FILES

# Copy the files from Google Drive to the local directory
cp /content/drive/MyDrive/SQL_CVS_FILES/*.csv /tmp/SQL_CVS_FILES/

In [ ]:
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy company_dim FROM '/tmp/SQL_CVS_FILES/company_dim.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy skills_dim FROM '/tmp/SQL_CVS_FILES/skills_dim.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy job_postings_fact FROM '/tmp/SQL_CVS_FILES/job_postings_fact.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"
!psql postgresql://postgres:password@localhost:5432/contoso_100k -c "\copy skills_job_dim FROM '/tmp/SQL_CVS_FILES/skills_job_dim.csv' WITH (FORMAT csv, HEADER true, DELIMITER ',', ENCODING 'UTF8');"

COPY 140033
COPY 259
COPY 787686
COPY 3669604

In [ ]:
%%sql
# NO 1 exercise. Query to find 1) Top 10 paying Data Analyst Jobs in the US, and the respective companies, with no degree mentioned, job schedule type, and the date posted.
SELECT
  name AS company_name,
  job_id,
  job_title,
  job_location,
  job_schedule_type,
  CAST(salary_year_avg AS INTEGER),
  job_posted_date::DATE
FROM
  job_postings_fact jpf
LEFT JOIN company_dim cd ON jpf.company_id = cd.company_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'United States' AND job_no_degree_mention = TRUE
ORDER BY salary_year_avg DESC
LIMIT 100

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

35 rows affected.

,company_name,job_id,job_title,job_location,job_schedule_type,salary_year_avg,job_posted_date
0,ReSkillonline,30277,Data analyst expert,United States,Full-time,NaN,2023-10-19
1,Logistics Management Institute,1564571,Data Visualization Analyst,United States,Full-time,NaN,2023-07-29
2,Beacon Systems,1609439,Data Analyst,United States,Contractor,NaN,2023-09-08
3,Kastech Software Solutions Group,303820,jr-mid data analyst,United States,Full-time and Temp work,NaN,2023-10-11
4,NLB Services,334514,Data Analyst with Python Expertise,United States,Contractor,NaN,2023-04-04
5,"LanceSoft, Inc.",462721,Data Analyst,United States,Contractor,NaN,2023-01-11
6,"Threat Tec, LLC",1125685,Full Time Data Analyst,United States,Full-time,NaN,2023-11-12
7,eStaffing Inc.,873677,Data Analyst II (Marketing),United States,Contractor,NaN,2023-12-15
8,Horizontal Talent,1421380,Data Analyst I,United States,Contractor,NaN,2023-02-03
9,Baldor Specialty Food,212113,Data Analyst,United States,Full-time,NaN,2023-10-03
10,Infinite Computer Solutions,507205,Data Conversion Analyst,United States,Full-time,NaN,2023-07-14
11,Horizontal Talent,800560,Data Analyst I,United States,Contractor,NaN,2023-03-22
12,Emonics LLC,303394,Data Analysts with nCino,United States,Full-time and Contractor,NaN,2023-09-09
13,MERCY COLLEGE,1502425,Entry Level Data Reporting Analyst,United States,Full-time,NaN,2023-11-01
14,Nfuenergy,1584993,Data Analyst Stoneleigh Park Service Delivery,United States,Full-time,NaN,2023-08-28
15,Aditi Consulting,26782,Data Analyst,United States,Contractor,NaN,2023-12-25
16,Insight Global,1276876,Data Analyst,United States,Contractor,NaN,2023-06-06
17,SynapOne,1560172,Data Analyst,United States,Contractor,NaN,2023-02-13
18,"Aroghia Group, LLC",1299357,Marketplace Data Analyst,United States,Contractor,NaN,2023-12-08
19,Peraton,1334311,"Data Management Analyst, Junior with Security ...",United States,Full-time,NaN,2023-10-30
20,Acro Service Corp,450191,Data Analyst,United States,Contractor and Temp work,NaN,2023-09-20
21,CASES,752413,"Data Assistant, Data and Analytics",United States,Full-time,NaN,2023-06-24
22,Orion Systems Integrators,763794,Data QA Lead,United States,Full-time,NaN,2023-09-30
23,"Astir IT Solutions, Inc.",859675,Data Analyst(Migration) – W2 role,United States,Contractor,NaN,2023-03-14
24,"Aptino, Inc.",1534831,Data Analyst,United States,Contractor,NaN,2023-05-09
25,Emonics LLC,942034,Data Analyst - BOP and Steward,United States,Full-time and Contractor,NaN,2023-11-23
26,Skill Inventions Inc,1426547,Data Analyst,United States,Full-time,NaN,2023-12-12
27,eTeam,504276,Data Analyst,United States,Contractor,NaN,2023-10-18
28,KK Soft Associates,890883,Data analyt,United States,Full-time,NaN,2023-04-24
29,"TekVivid, Inc",633622,Data anayst,United States,Contractor,NaN,2023-07-10
30,Cerotid Inc,1288259,Data Analyst - Inter,United States,Full-time,NaN,2023-06-10
31,NLB Services,967806,Data Analyst,United States,Contractor,NaN,2023-04-05
32,Invenergy,124123,"Data Analyst, Operations Engineering",United States,Full-time,118640.00,2023-10-29
33,"Udacity, Inc.",1440586,Session Lead (External Contractor) - Data Anal...,United States,Part-time,100500.00,2023-07-25
34,American National,1311436,Product Management Data Analyst (Entry-Level),United States,Full-time,59500.00,2023-12-23

In [ ]:
%%sql
# NO 2 exercise. Building on the last query, adding the specific skills needed for said jobs to help understand what skills are required to get those jobs to encourage guided effort towaards building those skills
WITH data_analyst_jobs AS
(
SELECT
  name AS company_name,
  job_id,
  job_title_short,
  job_location,
  job_no_degree_mention,
  job_schedule_type,
  CAST(salary_year_avg AS INTEGER),
  job_posted_date::DATE
FROM
  job_postings_fact jpf
LEFT JOIN company_dim cd ON jpf.company_id = cd.company_id
WHERE
  job_title_short = 'Data Analyst'
  AND job_location = 'United States'
  AND job_no_degree_mention = TRUE
ORDER BY
  salary_year_avg DESC
LIMIT 100
)
SELECT
  skills,
  type,
  company_name,
  job_title_short,
  job_no_degree_mention,
  job_location,
  CAST(salary_year_avg AS INTEGER),
  job_posted_date::DATE
FROM skills_job_dim sjd
INNER JOIN skills_dim sd ON sd.skill_id = sjd.skill_id
INNER JOIN data_analyst_jobs daj ON sjd.job_id = daj.job_id
WHERE
  job_title_short = 'Data Analyst'
  AND job_location = 'United States'
  AND job_no_degree_mention = TRUE
  AND EXTRACT(YEAR FROM job_posted_date) = '2023'
# would be 2025, but no data inputs for current year
ORDER BY
  salary_year_avg DESC

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

73 rows affected.

,skills,type,company_name,job_title_short,job_no_degree_mention,job_location,salary_year_avg,job_posted_date
0,python,programming,Cerotid Inc,Data Analyst,True,United States,NaN,2023-06-10
1,sql,programming,Cerotid Inc,Data Analyst,True,United States,NaN,2023-06-10
2,aws,cloud,Cerotid Inc,Data Analyst,True,United States,NaN,2023-06-10
3,snowflake,cloud,Cerotid Inc,Data Analyst,True,United States,NaN,2023-06-10
4,tableau,analyst_tools,Cerotid Inc,Data Analyst,True,United States,NaN,2023-06-10
...,...,...,...,...,...,...,...,...
68,pandas,libraries,"Udacity, Inc.",Data Analyst,True,United States,100500.00,2023-07-25
69,zoom,sync,"Udacity, Inc.",Data Analyst,True,United States,100500.00,2023-07-25
70,slack,sync,"Udacity, Inc.",Data Analyst,True,United States,100500.00,2023-07-25
71,sql,programming,American National,Data Analyst,True,United States,59500.00,2023-12-23
72,tableau,analyst_tools,American National,Data Analyst,True,United States,59500.00,2023-12-23

In [ ]:
%%sql
# No 3 Exercise
SELECT
  skills,
  sd.skill_id,
  job_title_short,
  COUNT(skills)
FROM
  job_postings_fact jpf
FULL JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
FULL JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'United States'
GROUP BY sd.skills, sd.skill_id, job_title_short
ORDER BY COUNT(skills) DESC
LIMIT 5

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

    skills  skill_id job_title_short  count
0      sql         0    Data Analyst     98
1   python         1    Data Analyst     92
2  tableau       182    Data Analyst     69
3    excel       181    Data Analyst     63
4        r         5    Data Analyst     49

In [ ]:
%%sql
# No 4 Exercise. Find the highest paying skills and the average salary associated with those skills for Data Analysts working remote
SELECT
  skills,
  AVG(salary_year_avg) AS avg_of_yearly_salary, job_title_short
FROM
  job_postings_fact jpf
FULL JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
FULL JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'Anywhere'  AND (skills, salary_year_avg) IS NOT NULL
GROUP BY sd.skills, salary_year_avg, job_title_short
ORDER BY AVG(salary_year_avg) DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

       skills avg_of_yearly_salary job_title_short
0     pyspark  255829.500000000000    Data Analyst
1  powerpoint  255829.500000000000    Data Analyst
2    power bi  255829.500000000000    Data Analyst
3      pandas  255829.500000000000    Data Analyst
4  databricks  255829.500000000000    Data Analyst
5       azure  255829.500000000000    Data Analyst
6     jupyter  255829.500000000000    Data Analyst
7       excel  255829.500000000000    Data Analyst
8         aws  255829.500000000000    Data Analyst
9      python  255829.500000000000    Data Analyst

In [ ]:
%%sql
# No 5 exercise. Query to pull most optimal skills for Data Analysts to learn by pulling skill by using multiple CTE's
WITH high_demand_skills AS
(
  SELECT
  skills,
  sd.skill_id,
  job_title_short,
  COUNT(skills),
  COUNT(sjd.job_id) AS job_count
FROM
  job_postings_fact jpf
FULL JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
FULL JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'United States'
GROUP BY sd.skills, sd.skill_id, job_title_short
ORDER BY COUNT(skills) DESC
),

high_paying_skills AS
(
SELECT
  skills,
  AVG(salary_year_avg) AS avg_yearly_salary,sd.skill_id
FROM
  job_postings_fact jpf
FULL JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
FULL JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'Anywhere'  AND (skills, salary_year_avg) IS NOT NULL
GROUP BY sd.skills, salary_year_avg, sd.skill_id
ORDER BY AVG(salary_year_avg) DESC
)

SELECT
  hds.skills,
  hds.skill_id,
  job_count,
  CAST(avg_yearly_salary AS INT)
FROM
  high_demand_skills hds
INNER JOIN high_paying_skills hps ON hds.skill_id = hps.skill_id

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1559 rows affected.

          skills  skill_id  job_count  avg_yearly_salary
0            sql         0         98             167000
1            sql         0         98              70500
2            sql         0         98             122769
3            sql         0         98              83500
4            sql         0         98             125000
...          ...       ...        ...                ...
1554  smartsheet       236          2              62500
1555  smartsheet       236          2              60000
1556  smartsheet       236          2              77500
1557  smartsheet       236          2              52500
1558        zoom       248          1              80740

[1559 rows x 4 columns]

In [ ]:
%%sql
# No 5 exercise cleaned up. Query to pull most optimal skills for Data Analysts to learn by pulling skill by using multiple CTE's
WITH high_demand_skills AS
(
  SELECT
  skills,
  sd.skill_id,
  COUNT(jpf.job_id) AS job_count
FROM
  job_postings_fact jpf
LEFT JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
LEFT JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'United States'
GROUP BY sd.skills, sd.skill_id
ORDER BY COUNT(jpf.job_id) DESC
),

high_paying_skills AS
(
SELECT
  skills,
  AVG(salary_year_avg) AS avg_yearly_salary,
  sd.skill_id
FROM
  job_postings_fact jpf
LEFT JOIN skills_job_dim sjd ON jpf.job_id = sjd.job_id
LEFT JOIN skills_dim sd ON sjd.skill_id = sd.skill_id
WHERE job_title_short = 'Data Analyst' AND job_location = 'Anywhere' AND salary_year_avg IS NOT NULL
GROUP BY sd.skills, sd.skill_id
ORDER BY AVG(salary_year_avg) DESC
)

SELECT
  hds.skills,
  hds.skill_id,
  job_count,
  CAST(avg_yearly_salary AS INT)
FROM
  high_demand_skills hds
INNER JOIN high_paying_skills hps ON hds.skill_id = hps.skill_id
WHERE avg_yearly_salary IS NOT NULL AND job_count > 10
ORDER BY avg_yearly_salary DESC, job_count DESC

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

15 rows affected.

        skills  skill_id  job_count  avg_yearly_salary
0        azure        74         15             111225
1          aws        76         22             108317
2         java         4         11             106906
3       python         1         92             101397
4            r         5         49             100499
5      tableau       182         69              99288
6          sas       186         23              98902
7          sas         7         23              98902
8     power bi       183         27              97431
9          sql         0         98              97237
10      matlab        15         12              94200
11     alteryx       201         11              94145
12  powerpoint       196         16              88701
13       excel       181         63              87288
14        word       188         18              82576